name: ci
on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
      - 'overrides/**'
      - 'mkdocs.yml'
      - '.github/workflows/ci.yml'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material markdown mkdocstrings mkdocs-rss-plugin mkdocs-mermaid2-plugin mkdocs-click
      - run: mkdocs gh-deploy --force
